.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  header{
    margin-bottom: 100px;
  }
  
.heading1{
    font-weight: 800;
    font-size: 32px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 200px;
}
.span{
    color: #006A50;
}
.btn_sign{
    width: 116px;
    height: 52px;
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.banner{
   display: flex;
   justify-content: space-between;
   margin: 0px 200px;
   background-color: #C6E4D6;
   width: 1600px;
   height: 650px;
   border-radius: 24px;
   -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   -ms-border-radius: 24px;
   -o-border-radius: 24px;
}
.banner-text{
    width: 640px;
    height: 336px;
    margin: 60px 117px 60px 117px;
    
}
.bn-h4{
    font-size: 24px;
    font-weight: 400;
    color: #757575;
    
}
.bn-h2{
    font-weight: 800;
    font-size: 56px;
    color: #0E0E0E;
}
.bn-button{
    padding:17px 34px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    background-color: #006A50;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.banner-img{
    width: 500px;
    height: 420px;
    margin: 120px 80px;
}
/* End of banner part */
/* start main section */
.section-1{
    width: 1600px;
    height: 400px;
    margin-bottom: 100px;
}
.section-1{
    
    margin-left: 200px;
    margin-right: 200px;
}
.section-1_heading{
    color: 0E0E0E;
    font-weight: 800;
    font-size: 40px;
}

.skill-container{
    margin-top: 32px;
    display: flex;
    gap: 24px;
}
.skills{
    padding: 24px 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0,0, 0.06);
    background-color: #ebe3e3;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.skill-title{
    font-weight: 800;
    font-size: 20px;
}
.skill-descrioption{
    color: #757575;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
/* end of section 1 */
.section-2{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}
.vision-container{
    display: flex;
    gap: 30px;
}
.section-2-heading{
    font-weight: 800;
    font-size: 40px;
    color: #0E0E0E;
    margin-top: 24px;
}
.section-2-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #757575;
    margin-top: 20px;
    margin-bottom: 40px;
}
.vision{
    width: 513px;
    height: 300px;
    padding: 70px 70px;
    background-color: #8aace7e2;
    box-shadow: 0px 6px 50px 0px rgba(0, 0,0, 0.06);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.vision2{
    width: 513px;
    height: 300px;
    padding: 70px 70px;
    background-color:#C6E4D6;
    box-shadow: 0px 6px 50px 0px rgba(0, 0,0, 0.06);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.vision3{
    width: 513px;
    height: 300px;
    padding: 70px 70px;
    background-color: #F7EBCF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0,0, 0.06);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.vision-title{
    font-size: 20px;
    font-weight: 800;
    color: #0e0e0eca;
}
.vision-description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 24px;
}
.vision-btn1{
    background-color: #5490F5;
    padding: 15px 26px;
    border: none;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    margin-top: 60px;
}
.vision-btn2{
    background-color: #09A15C;
    padding: 15px 26px;
    border: none;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    margin-top: 60px;
}
.vision-btn3{
    background-color: #FFC239;
    padding: 15px 26px;
    border: none;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    margin-top: 60px;
}
/* end of section 3 */
.section-3{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.writing{
  
   border-radius: 16px;
   height: 256px;
   background-color: rgb(245, 245, 245);
   padding: 26px 48px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   -ms-border-radius: 16px;
   -o-border-radius: 16px;
  
}
.wr-description{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0ede;
    margin-bottom: 14px;
}
.wr-heading{
    line-height: 24px;
    font-size: 20px;
    font-weight: 600px;
}
.wr-short-description{
    line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
/* section 3 end */
.section-4{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}
.first-news{
    display: flex;
    align-items: center;
    gap: 60px;
    height: 320px;
    /* padding: 85px 85px; */
    padding-left: 85px;
    padding-top: 85px;
    padding-bottom: 85px;
    background-color: whitesmoke;
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;
    margin-bottom: 50px;
}
.second-news{
  display: flex;
  align-items: center;
  gap: 60px;
  height: 320px;
  padding-left: 85px;
    padding-top: 85px;
    padding-bottom: 85px;
    background-color: whitesmoke;
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;
    margin-bottom: 30px;
}
.section-4-title{
  color: #0E0E0E;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
.section-4-description{
    color: #757575;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
   
}
.first-img{
    /* padding: 46px 46px 0px 46px; */
}
.second-img{
  padding-right: 85px;
}
img{
  padding-top: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.first-text{
    
     /* padding:46px 46px 46px; */
     padding-right: 85px;
}
.text-heading{
    margin-bottom: 5px;
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 800;
}
.date{
  display: flex;
  gap: 15px;
}
.date1{
  color: #757575;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}
.text-description{
    margin-top: 0px;
    color: #757575;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    /* margin-bottom: 30px; */
}

.text-btn{
    padding:  13px  26px;
    background-color: #006A50;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #FFFFFF;
    border: none;
}
/* end od section 4 */


